*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/

.preheader::after{
  content: "";
  display: table;
  clear: both;
}

.preheader{
  background-color: #f0f0f0;
  width: 100%;
  height:100px;
  position: fixed;
  top:0;
}

.preheaderleft{
  float:left;
  width: 30%;
  height:auto;
  font-size: 18px;
}

.ulleft{
  margin-left: 15%;
  margin-top: 2.5%;
}

.acolor{
  border-right: 1px groove #000;
  padding-right: 15%;
}


.preheaderright{
  float:right;
  width: 33%;
  height:auto;
  font-size: 18px;
}

.ulright{
  margin-right: 10%;
  margin-top: 2.5%;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:#000;
}

.lilogin{
  width:15%;
  margin-left: 5%;
}

.login{
  padding: 14% 8% 14% 8%;
  color: #ff7a59;
  border: 1px solid #ff7a59;
  background-color: #fff;
  border-radius: 4px;
  margin-left: 5%;
}

.get{
  padding: 8% 6% 8% 6%;
  color: #fff;
  background-color: #ff7a59;
  border-radius: 4px;
}

/*secondo blocco header*/

.header{
  top:100px;
  background-color: #fff;
  width: 100%;
  height:100px;
  margin-top: 100px;
}

.second{
    float: left;
    color:#000;
    font-size: 18px;
    padding: 2.5% 4% 0 0;
  }

.left{
  margin-left: 25%;
}

.logo{
  margin-top: 2.5%;
  margin-left: 15%;
  width:8%;
}

/*office*/

.office{
  background-image: url(img/office.png);
  width:100%;
  height:700px;
  padding: 5% 59% 0 15%;
  word-wrap: break-word;
  word-spacing: 2px;
  font-size: 20px;
  line-height: 1.4;
}

.office>h1{
  font-size: 45px;
  padding-bottom: 2%;
}

.office>p{
  padding-bottom:8%;
}

.min{
  font-size: 15px;
  padding-top: 8%;
}

.resize{
  padding: 3% 2% 3% ;
}

/*centro*/

.greywhite{
  background-color: #f0f0f0;
  width: 100%;
  height:auto;
}

.greywhite>h2,.greywhite>p{
  text-align: center;
}

.cubo{
  margin: 4% 41% 0 41%;
  width:17%;
  height: 27%;
}

.greywhite>h2{
  font-size: 35px;
}

.greywhite>p{
 font-size: 18px;
 line-height: 1.5;
 padding: 2% 25% 0 25%;
}

/*blocco bianco orizzontale*/
.whitehorizontal{
  background-color: #ffff;
  background-position: center;
  width: 70%;
  height:auto;
  margin: 5% 15% 2% 15%;
}

.whitehorizontal::after{
  content: "";
  display: table;
  clear:both;
}

.book{
  float: left;
  padding-right: 5%;
}

.bookimg{
  width:200px;
  height:180px;
  margin:4% 0 15% 25%;
}

.abook{
  margin: 0  0 25% 50%;
}

.free{
  padding: 8% 4% 8% 4%;
}

.bookright{
  float:right;
  margin: 3% 0 3%;
}

.textbook{
  margin: 3% 10% 0 0;
}

.textbook>h3{
  font-size:20px;
  margin:3% 0 3% 0;
}

.textbook>p, .downbook>h4{
  margin-bottom: 3%;
}

/*tre colonne verticali*/
.threewhitecolumns::after{
  content: "";
  display: table;
  clear:both;
}

.threewhitecolumns{
  margin-left: 15%;
}

.verticalbox{
  float:left;
  background-color: #ffff;
  width:26%;
  height:auto;
  margin: 2% 2% 2% 0;
  padding:2% 2% 2% 3%;
}

.scatola{
  width:50%;
  height:30%;
  margin-left:20%;
}

.scatolauno{
  width:52%;
  height:30%;
  margin-left:20%;
}

.scatoladue{
  width:40%;
  height:25%;
  margin-left:25%;
}

.verticalbox>h3{
  font-size:22px;
  margin: 5% 0 5% 22.5%;
}

.verticalbox>p{
  line-height: 1.5;
  padding: 0 10% 10% 2%;
  border-bottom: 1px #f0f0f0 groove;
}

.verticalbox>h4{
  margin:10% 0 5% 14%;
}

.verticalbox>a{
  margin: 5% 0 0 30%;
}

.cc{
  width:15px;
  height:15px;
  margin: 0 4% 0 0.5%;
  color: #ff7a59;
}

.verticalbox{
  line-height: 2;
}

.verticalbox>ul{
  margin-bottom: 10%;
}


/*green*/

.green{
  background-image: linear-gradient(to right, #00a4bd, #00bda5);;
  width: 100%;
  height:auto;
  text-align: center;
  padding-bottom: 6%;
}

.green>h2{
  color: #fff;
  font-size: 35px;
  padding: 8% 25% 0 25%;
}

.green>p{
  color: #fff;
  font-size:18px;
  line-height: 1.8;
  margin: 2% 24% 5% 24%;
}

.littlebox::after{
  content: "";
  display: table;
  clear:both;
}

.littlebox{
  text-align: center;
  margin-left: 14%;
}

.boxesup{
  float:left;
  width:22%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 4%;
  font-size: 20px;
  color:#fff;
  line-height: 1.5;
}

.boxesdown{
  float:left;
  width:22%;
  border-right: 1px solid #fff;
  padding: 4%;
  font-size: 20px;
  color:#fff;
  line-height: 1.5;
}

.number{
  font-size: 40px;
  font-weight: bold;
}

.più{
  font-size: 20px;
  vertical-align: 15%;
}

.littlebox :last-child{
  border-right: none;
}


/*facciasorridente*/

.smiley{
  background-color:#fff;
  width: 100%;
  height:auto;
}
.smiley::after{
  content: "";
  display: table;
  clear:both;
}

.smileyleft{
  float:left;
  width:50%;
  height:auto;
}

.smileyupleft{
  margin: 10% 18% 20% 25%;
}

.smileyh3{
  font-size: 35px;
  padding-bottom: 2%;
}

.smileyp{
  font-size: 18px;
  word-spacing: 1.2px;
  line-height: 1.5;
  margin-bottom: 6%;
}

.smileydownleft{
  margin: 0 10% 5% 25%;
}

.smileyh3due{
  font-size: 30px;
  padding-bottom: 2%;
}

.smileyright{
  float:right;
  width:50%;
  height:auto;
}

.smileyimg{
  width: 20%;
  height:20%;
  margin-bottom: 10%;
}

.smileyupright{
  margin: 15% 20% 5% 0;
}

.woman{
  width:70%;
  height: 70%;
}

.smileydownright{
  margin:0 20% 10% 18%;
}


/*footer*/

footer{
  background-color:#33475b;
  width: 100%;
  height:auto;
}

.footerfloat::after{
  content:"";
  display: table;
  clear: both;
}

.footerfloat{
  margin: 2% 0 2% 15%;
}

.footerlist{
  background-color: #33475b;
  width:21%;
  height:auto;
  padding: 5% 5% 2% 3%;
  float: left;
  line-height: 2;
}

.lifooter{
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.color{
  color: #fff;
}

.divfooter{
  margin: 1% 0 2% 71%;
}

.afooter{
  border: 2px solid #fff;
  color:#000;
  background-color: #fff;
  padding: 2%;
  border-radius: 4px;

}

.icon{
  width:4%;
  height:5%;
  color: #fff;
  margin: 6% 3% 0 0;
}

.footerlingue{
  text-align: center;
  padding: 4% 0 2% 0;
}

.alingue{
  padding-left: 2%;
  font-size: 18px;
}

.bottom{
  margin: 0 15%;
  border-top: solid 1px #fff;
  padding-bottom: 2%;
}

.lastleft{
  float:left;
  margin-left: 4%;
  padding:2% 0;
}

.bottomaside{
  margin-left: 75%;
  padding-top: 2%;
}

.bottoma{
  padding-right: 2%;
  font-size: 18px;
}

.lastright{
  float:right;
}
